<div class="ghost-row row">

</div>

<greeting>

</greeting>

<ul class="list-group" ng-repeat="link in home.data | filter: searchLink | orderBy: home.order">
    <div class="row is-flex">
        <div class="col-sm-2 vcenter link-counter-box">
            <p class="link-counter">
                {{$index +1}}
            </p>
        </div>
        <li href="{{link.url}}" class="link-info-box list-group-item col-sm-8">
            <div class="link-info">
                <div class="media">
                    <div class="media-left ogimage-container">
                        <img class="media-object ogimage" src="{{link.ogimage}}" alt="">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="{{link.url}}">{{link.title}}</a>
                        </h4>
                        Posted by <a ui-sref="profile({user: user_name})">{{link.user_name}}</a>
                        <br>
                        {{link.creation_date | timeago}}
                        <br>
                        {{link.comments}} <a ui-sref="link({id: link.id})">comments</a>
                        <br>
                        <span ng-bind="link.favs"></span> <a ui-sref="link({id: link.id})">stars</a>.
                        <br>
                        <h6 class="errorMessage">
                            {{link.errmessage}}
                        </h6>
                    </div>
                </div>
            </div>
        </li>
        <div class="col-sm-2 vcenter link-counter-box">
            <div ng-click="home.favLink(link.id, $index)" class="fav-box">
                <p class="fav-counter">
                    <span id="{{link.id}}" class="glyphicon glyphicon-star star" ng-class="{orange: link.starred == true}" aria-hidden="true"></span>
                </p>
            </div>
        </div>
    </div>
</ul>
