<div class="home-header">
    <div class="logo-display">
        <img id="company-logo" src="../../assets/linkit-logo.png" width="10%">
        <div id="title-display">Link It</div>
    </div>
    <div class="menu-display">
        <div class ="home-button">
            <img id="home-logo" src="../../assets/home-logo.png" width="20%">
            <button id="home" class="button-menu">Home</button>
        </div>
        <div class ="logIn-button">
            <img id="logIn-logo" src="../../assets/logIn-logo.png" width="20%">
            <button id="signIn" class="button-menu">Sign In</button>
        </div>
        <div class ="register-button">
            <img id="register-logo" src="../../assets/register-logo.png" width="20%">
            <button id="register" class="button-menu">Register</button>
        </div>
    </div>
    <div class="logOut-display">
        <button id="logOut">Log Out</button>
    </div>
</div>

<div class="upload-container">
    <div class="upload-submit-container">
        <button id="pop-upload">Upload your link </button>
    </div>
</div>

<div class="links-container" ng-repeat="link in home.data">
    <div class="display-links" ng-click="changeActiveLink(link)">
        <div class="container-content">
            <div id="link-counter"></div>
            <!-- <div id="image-link"></div> -->
            <a id="image-link" class="cardLink" href="{{link.url}}">{{link.title}}</a>
            <div id="link-text">{{link.url}}</div>
        </div>
        <div class="comment-user-content">
            <div id="comments-counter">{{link.creation_date}}</div>
            <div id="username-counter"></div>
        </div>
    </div>
</div>
