<div class="ghost-row row">

</div>


<div id="greeting" class="row">
    <div class="col-sm-2">
    </div>
    <div class="panel panel-default col-sm-8">
        <div class="panel-body">
            Hi <a href="#/profile?user={{home.activeUser}}">{{home.activeUser}}</a>
        </div>
        <!-- <div class="panel-footer">
            Order by
            <button ng-click="home.changeOrder('-creation_date')" type="button" name="button" class="btn">Most recent</button>
            <button ng-click="home.changeOrder('-favs')" type="button" name="button" class="btn">Most popular</button>
        </div> -->
    </div>
    <div class="col-sm-2">
    </div>
</div>

<ul class="list-group" ng-repeat="link in home.data | filter: searchLink | orderBy: home.order">
    <div class="row is-flex">
        <div class="col-sm-2 vcenter link-counter-box">
            <p class="link-counter">
                {{$index +1}}
            </p>
        </div>
        <li href="{{link.url}}" class="link-info-box list-group-item col-sm-8">
            <div class="link-info">
                <div class="media">
                    <div class="media-left ogimage-container">
                        <img class="media-object ogimage" src="{{link.ogimage}}" alt="">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="{{link.url}}">{{link.title}}</a>
                        </h4>
                        Posted by <a href="#/profile?user={{link.user_name}}">{{link.user_name}}</a>
                        <br>
                        {{link.creation_date | timeago}}
                        <br>
                        {{link.comments}} <a href="#/link?id={{link.id}}">comments</a>
                        <br>
                        {{link.favs}} <a href="#/link?id={{link.id}}">stars</a>.
                        <br>
                        <h6 class="errorMessage">
                            {{link.errmessage}}
                        </h6>
                    </div>
                </div>
            </div>
        </li>
        <div class="col-sm-2 vcenter link-counter-box">
            <div ng-click="home.fav(link.id, $index)" class="fav-box">
                <p class="fav-counter">
                    <span id="{{link.id}}" class="glyphicon glyphicon-star star" aria-hidden="true"></span>
                </p>
            </div>
        </div>
    </div>
</ul>
