
.linkscontainer{
	position:relative;
	width:550px;
	left:25%;
	margin-top:5%;
}

.displaylinks{
	position:relative;
	width:550px;

}

.container-content{
	display:flex;
	flex-direction: row;
	position:relative;
	width:550px;
	margin-top: 10%;
}

#link-counter{
	position:relative;
	width:50px;
	height:75px;
	font-family:Oswald;
	font-size:2.5em;
	border:none;
	border-right: 1px solid black;
	color:black;
	margin-top:5%;
	text-align:center;
}

#image-link{
	position:relative;
	width:125px;
	height:125px;
	margin-top:4%;
	margin-left:10%;
	box-shadow: 2px 2px 2px lightgrey;
}

#link-text{
	position:relative;
	width:450px;
	overflow-wrap:break-word;
	font-size: 1em;
	margin-left:5%;
	margin-top: 3%;
	justify-content:center;
	font-family: Cormorant Garamond, serif;
}




.comment-user-content{
	position:relative;
	display:flex;
	flex-direction:row;
	width:550px;
	margin-top: 2%;
	margin-left:10%;
	font-family: Cormorant Garamond, serif;
	background-color:#F4F4F4;
	box-shadow: 3px 3px 1px lightgrey;
}

.linkDate{
	position:relative;
	min-width:110px;
	margin-left: 2%;
}
.linkDate a{
	position:relative;
	min-width: 10px;
	font-family: Cormorant Garamond, serif;
}

.nbComments{
	position:relative;
	width:110px;
	margin-left:10%;
	font-family: Cormorant Garamond, serif;
}
.nbComments a{
	position:relative;
	margin-left: 5%;
	font-family: Cormorant Garamond, serif;
}

.userName{
	position:relative;
	margin-left: 5%;
	width:150px;
	font-family: Cormorant Garamond, serif;
}
.userName a{
	position:relative;
	margin-left: 5%;
	width:150px;
	font-family: Cormorant Garamond, serif;
}
