body{
	overflow-x: hidden;
	margin:0px;
}

.home-header{
	position:relative;
	display:flex;
	width:auto;
	height:100px;
	box-shadow:2px 2px 20px 1px lightgrey;
}

.logo-display{
	position:relative;
	display:flex;
	flex-direction:row;
	top:0%;
	left:0%;
	width:300px;
}

#company-logo{
	width:75px;
	height:75px;
	margin-left:8%;
	margin-top:5%;
}
#title-display{
	font-size:50px;
	margin-left:10%;
	margin-top:5%;
	width:300px;
	font-family:Lobster, cursive;
}

.menu-display{
	position:relative;
	margin-top:3%;
	margin-left:8%;
	display:flex;
    flex-direction:row;
}

.home-button{
	width:150px;
	height:50px;
}

.button-menu{
	position:relative;
	color:#black;
	font-size:18px;
	border:none;
	left:15%;

	background-color:transparent;
	font-family:Oswald, sans-serif;
	outline: none;
}

.button-menu:hover,.button-menu:focus,.button-menu:active{
	color:lightblue;
}

.logIn-button{
	width:150px;
	height:50px;
}

.register-button{
	width:150px;
	height:50px;
}

.logOut-display{
	width:auto;
	display:flex;
	flex-direction:row;
	margin-left:20%;
}

#logOut{
	color:#black;
	font-size:15px;
	width:auto;
	height:auto;
	border:none;
	background-color:transparent;
	font-family:Oswald, sans-serif;
}

.upload-container{
	position:relative;
	left:10%;
	margin-top:5%;
	background-color:black;
	width:300px;
	height:40px;
}

#pop-upload{
	position:relative;
	border:none;
	background-color: transparent;
	color:white;
	font-size;
	text-align: center;
	font-family:Oswald, sans-serif;
	font-size:20px;
}

.links-container{
	position:relative;
	width:600px;
	border:1px solid black;
	left:10%;
	margin-top:5%;
}

.display-links{
	position:relative;
	width:600px;
	border:1px solid black
}

.container-content{
	display:flex;
	flex-direction: row;
	position:relative;
	width:600px;
	border:1px dotted black;
}

#link-counter{
	position:relative;
	width:50px;
}

#image-link{
	position:relative;
	width:100px;
	border:2px dotted black;
}

#link-text{
	position:relative;
	width:450px;
	overflow-wrap:break-word;
}




.comment-user-content{
	position:relative;
	display:flex;
	flex-direction:row;
	background-color: skyblue;
	width:600px;
}

.linkDate {
	position:relative;
	min-width: 10px;
}

.nbComments{
	position:relative;
	min-width: 10px;
	margin-left: 5%;
}

.userName{
	position:relative;
	margin-left: 5%;
	width:150px;
}
