.form-log-in{
	position:relative;
	margin-top:10%;
	margin-left:28%;
	width:550px;
	height:400px;
	background-color:white;
	box-shadow:5px 5px 30px lightgrey;
}

#login-background{
	position:relative;
	margin-top:-5.5%;
	left:35%;
}
#form-background{
	position:absolute;
	top:8%;
	left:3%;
	width:520px;
	height:320px;
	background-color:transparent;
}

#log-in{
	position:absolute;
	top:10%;
	margin-left:35%;
	font-family:lemonmilk;
	color:black;
	font-size:2em;
}
.log-in-form{
	position:absolute;
	width:auto;
	height:auto;
	text-align:left;
	top:25%;
	margin-left:10%;
	color:grey;
	font-family:caviardreams;
	font-size:1.5em;

}

.input-login{
	position:relative;
	font-family:caviardreams;
	font-size:20px;
	color:black;
	border:none;
	width:150px;
	border-bottom: 2px solid grey;
}

.input-login:focus{
	background:transparent;
	outline:none;
	border:none;
	border-bottom: 2px solid grey;
}

#login-email{
    line-height:170%;
	color:grey;
	width:100px;
}

#login-email:hover{
	width:150px;
	background-color:transparent;
  	height:75px;
  	font-size:30px;
	color:lightblue;
	line-height:100%;

}

#password{
	margin-top:10%;
	line-height:100%;
	width:100px;
	color:grey;
}

#password:hover{
	width:150px;
	background-color:transparent;
    height:75px;
    font-size:30px;
	color:lightblue;
	line-height:100%;
}

#submit-login{
	position:relative;
	left:110%;
	margin-top:40%;
	font-family:lemonmilk;
	font-size:20px;
	width:120px;
	border:1px solid black;
	background-color:transparent;
	outline:none;
	-webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
	-webkit-transition-property: color;
 	transition-property: color;
 	-webkit-transition-duration: 0.3s;
 	transition-duration: 0.3s;

}

#submit-login:before{
	content: "";
	position:absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background:black;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

#submit-login:hover,#submit-login:focus,#submit-login:active{
	 color:white;
}

#submit-login:hover:before,#submit-login:focus:before,#submit-login:active:before{
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

#login-click{
	position:absolute;
	font-family:caviardreams;
	top:85%;
	margin-left:28%;
	font-size:1em;
}

a{
	font-family:lemonmilk;
	color:black;
	text-decoration:none;
}

a:active{
	text-decoration:none;
	color:black;

}

a:visited{
	color:black;
	text-decoration:none;
}

a:hover{
	color:lightblue;
	text-decoration:none;
}

#close-form{
	position:absolute;
	font-family:lemonmilk;
	font-size:2em;
	top:2%;
	left:85%;
	color:white;
}

#close-form:hover{
	color:lightblue;
}
