<body>
	<div class="profile-display">
		<div class="info-profile">
			<!-- <img id="profile-logo" src="../../assets/user-logo.png"> -->
			<div id="username-profile">{{user.name}}</div>
			<div id="email-profile">{{user.email}}</div>
		</div>

	</div>
	<div class="link-content-container">
		<div class="links-post">
			<div class="display-links-post">
				<div id="link-post-title">Links you post </div>
			</div>
			<div class="container-post" ng-repeat="link in user.links">
				<div id="image-link-post"><img src="{{link.ogimage}}" alt=""/></div>
				<div id="link-post"><a href="#/link?id={{link.id}}">{{link.title}}</a></div>
				<div id="link-date">{{link.creation_date}}</div>

			</div>
		</div>

		<div class="comments-post">
			<div class="display-comments-post">
				<div id="comments-post-title">Comments you post</div>
			</div>
			<div class="" ng-repeat="comment in user.comments">
				<div id="comment-post"><a href="#/link?id={{comment.link_id}}">{{comment.comment}}</a></div>
				<div id="date-post">{{comment.creation_date}}</div>
			</div>
		</div>
	</div>
</div>
