<div class="links-container">
	<div class="display-links">
		<div id="image-link-comment">
			<img src="{{link.ogimage}}" alt="" />
		</div>
		<div id="link-comment">link {{link.title}}</div>
	</div>

	<div class="user-content">
		<div id="time-link">time {{link.date}}</div>
		<div id="source-link">source</div>
		<div id="username-link"><a href="#/profile?user={{link.user}}">user{{link.user}}</a></div>
	</div>
</div>

<div class="comment-container">
	<div class="display-comments">
		<div id="comment-display-container">Comments</div>
		<div class="info" ng-repeat="comment in link.comments">
			<div class="comment-content">
				<div id="comment">{{comment.comment}}</div>
			</div>
			<div class="info-content-comment">
				<div id="user-name"><a href="#/profile?user={{comment.user_name}}">{{comment.user_name}}</a></div>
				<div id="time-comment">{{comment.creation_date}}</div>
			</div>
		</div>
	</div>
</div>

<div class="add-comment-container">
	<div class="display-add-container">
		<div id="add-comment-title">Add a comment</div>
		<textarea ng-model="link.newComment" id="comment-add"></textarea>
		<button id="add-comment-submit" type="submit" ng-click="link.postComment(link.newComment)">Submit</button>
	</div>
</div>
