<div class="links-container">
	<div class="display-links">
		<div id="link">link {{link.title}}</div>
		<div id="image-link">
			<img src="{{link.ogimage}}" alt="" />
		</div>
	</div>
	<div class="user-content">
		<div id="username-link"><a href="#/profile?user={{link.user}}">{{link.user}}</a></div>
		<div id="time-link">time {{link.date}}</div>
		<div id="source-link"></div>
	</div>
</div>

<div class="comment-container">
	<div class="display-comments">
		<div id="comment-display-container">Comments</div>
		<div class="info" ng-repeat="comment in link.comments">
			<div ng-click="link.showReplyBox(comment.id)" class="reply">
				REPLY
			</div>
			<div ng-click="link.showReplies(comment.id)" class="reply">
				||| SHOW REPLIES
			</div>
			<div class="comment-content">
				<!-- <div class="hidden">{{comment.id}}</div> -->
				<div id="comment">{{comment.comment}}</div>
			</div>
			<div class="hidden" id="replyBox_{{comment.id}}">
				<textarea ng-model="link.reply" id="comment-add">Reply</textarea>
				<button id="add-comment-submit" type="submit" ng-click="link.postComment(link.reply, comment.id)">Submit</button>
			</div>
			<div class="info-content-comment">
				<div id="user-name"><a href="#/profile?user={{comment.user_name}}">{{comment.user_name}}</a></div>
				<div id="time-comment">{{comment.creation_date}}</div>
			</div>
		</div>
	</div>
</div>

<div class="add-comment-container">
	<div class="display-add-container">
		<div id="add-comment-title">Add a comment</div>
		<textarea ng-model="link.newComment" id="comment-add">Comment</textarea>
		<button id="add-comment-submit" type="submit" ng-click="link.postComment(link.newComment)">Submit</button>
	</div>
</div>
