<div class="ghost-row row">

</div>

<div class="row is-flex">
	<div class="col-sm-2 vcenter link-counter-box">
	</div>
	<li href="{{link.url}}" class="list-group-item col-sm-8">
		<div class="link-info">
			<div class="media">
				<div class="media-left ogimage-container">
					<img class="media-object ogimage" src="{{link.ogimage}}" alt="">
				</div>
				<div class="media-body">
					<h4 class="media-heading">
						<a href="{{link.url}}">{{link.title}}</a>
					</h4>
					Posted by <a href="#/profile?user={{link.user_name}}">{{link.user_name}}</a>
					<br>
					{{link.creation_date | timeago}}
					<br>
					{{link.nofcomments}} <a href="#/link?id={{link.id}}">comments</a>
					<br>
					{{link.favs}} <a href="#/link?id={{link.id}}">stars</a>.
					<br>
					<h6 class="errorMessage">
						{{link.errmessage}}
					</h6>
				</div>
			</div>
		</div>
	</li>
	<div class="col-sm-2 vcenter link-counter-box">
		<div ng-click="home.fav(link.id, $index)" class="fav-box">
			<p class="fav-counter">
				<span id="{{link.id}}" class="glyphicon glyphicon-star star" aria-hidden="true"></span>
			</p>
		</div>
	</div>
</div>
<br>
<div class="row is-flex">
	<div class="col-sm-2">
	</div>
	<li class="list-group-item col-sm-8">
		<div class="comment-container">
			<div class="display-comments">
				<div class="input-group">
					<input ng-model="link.newComment" type="text" class="form-control" placeholder="Add a comment...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit" ng-click="link.postComment(link.newComment)">Comment!</button>
					</span>
				</div>
				<br>
				<div class="info comments-container" ng-repeat="comment in link.comments">
					<div class="">
						<div class="">
							<div> {{comment.creation_date | timeago}}  <a href="#/profile?user={{comment.user_name}}"> {{comment.user_name}} </a> said... </div>
							<div class="panel panel-default">
								<div class="panel-body">
									{{comment.comment}}
								</div>
							</div>
							<!-- <div class="buttons">
								<button type="submit" class="btn btn-default pull-right" ng-click="link.showReplyBox(comment.id)">Reply</button>
								<button type="submit" class="btn btn-default pull-right" ng-click="link.showReplies($index, comment.id)">Show replies</button>
							</div> -->
						</div>

						<!-- <div class="hidden" id="replyBox_{{comment.id}}">
							<div class="input-group">
								<input ng-model="link.reply" type="text" class="form-control" placeholder="Reply...">
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit" ng-click="link.postComment(link.reply, comment.id)">Reply!</button>
								</span>
							</div>
						</div>

						<div class="replies replies-container" id="repliesBox_{{comment.id}}">
							<div class="">
								<div class="hidden reply-input-box" id="replyBox_{{comment.id}}">
									<textarea ng-model="link.reply" id="comment-add">Reply</textarea>
									<button id="add-comment-submit" type="submit" ng-click="link.postComment(link.reply, comment.id)">Submit</button>
								</div>
								<div class="info-content-comment reply-box" ng-repeat="reply in comment.replies">
									<div> {{reply.creation_date | timeago}}  <a href="#/profile?user={{comment.user_name}}"> {{reply.user_name}} </a> replied... </div>
									<div class="panel panel-default">
										<div class="panel-body">
											{{reply.comment}}
										</div>
									</div>
									<div class="buttons">
										<button type="submit" class="btn btn-default pull-right" ng-click="link.showReplyBox(reply.id)">Reply</button>
										<button type="submit" class="btn btn-default pull-right" ng-click="link.showReplies($index, reply.id)">Show replies</button>
									</div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</li>
	<div class="col-sm-2">
	</div>
</div>
